@tailwind base;
@tailwind components;
@tailwind utilities;

/* ניתן להוסיף התאמות צבעים בסיסיות ל-Dark Mode */
body {
    background-color: #111827; /* bg-gray-900 */
    color: #f9fafb; /* text-gray-100 */
    font-family: 'Inter', sans-serif;
}

button {
    transition: all 0.2s ease-in-out;
}